<div class="container">
    <!--git input text form container-->
    <div class="header-title">
        <h3>Simple GitHub Controller</h3>

        <form #gitForm="ngForm" class="form-inline" (ngSubmit)="getPullList($event, gitusername)">

            <div class="form-group mx-sm-3 mb-2">

                <input type="text" class="form-control" name="gitusername" [(ngModel)]="gitusername" placeholder="User Name">
            </div>
            <button type="submit" id="ghsubmitbtn" class="btn btn-primary mb-2">Pull List</button>
        </form>
    </div>
    <!--end git input text form container-->

    <div class="search-list-container">
        <div class="col-md-2 col-sm-3 col-xs-6 profile-badge" *ngFor="let userObject of searchResults">

            <div class="pinned-inner-wrapper"  [routerLink]="['/gitUserDeatil', userObject.login]" title="Click Me">
                <div class="profile-image-wrapper">
                    <img src="{{userObject.avatar_url}}" class="profile-img" style="width:100%" />
                </div> 
                <div class="profile-short-detail-wrapper">
                    <div class="app-bold-text">
                        {{userObject.login}}
                    </div>
                    <div class="app-light-text">{{userObject.score}}</div>

                </div>
                

            </div>
        </div>

    </div>



    
    <!-- end empty repo msg -->
</div>

<!-- repo commit detail container -->

<img class="loading-icon-container" [ngStyle]="loadingStyle" src="../assets/loading-icon.gif" alt="" />