.app-label{
    color:#505050;
}
.app-text{
color: #999999;
}
.pinned-inner-wrapper{
    margin-bottom: 16px;
    transition: all 0.6s cubic-bezier(0.165,0.84,0.44,1);
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.pinned-inner-wrapper:hover{
    cursor: pointer;
    transform: translate(0,-6px);
    -webkit-box-shadow: 0 40px 40px rgba(0,0,0,.16);
    box-shadow: 0 40px 40px rgba(0,0,0,.16);
}
.profile-short-detail-wrapper
{
    padding: 10px;
    text-align: center;
    background-color: #2196F3;
    color: #fff;
}

.followers-following-container{
    padding: 5px;
}

.header-title{
    text-align: center;
    margin-top: 24px;
}
.form-inline{
    margin-top: 15px;
}
.avtar,.section-container{
    padding: 10px 0;
}
