<!-- <app-my-git-component></app-my-git-component> -->

<router-outlet></router-outlet>
<!-- <div class="container">
    <div class="header-title">
        <h3>Simple GitHub Controller</h3>

        <form #gitForm="ngForm" class="form-inline" (ngSubmit)="getPullList($event, gitusername)">

            <div class="form-group mx-sm-3 mb-2">

                <input type="text" class="form-control" name="gitusername" [(ngModel)]="gitusername" placeholder="User Name">
            </div>
            <button type="submit" id="ghsubmitbtn" class="btn btn-primary mb-2">Pull List</button>
        </form>
    </div>
    <router-outlet></router-outlet>
</div> -->